/*120  */
/*start main rules   */

body{height: 3000px;}
.container{width: 900px;margin: auto;}
.clearfix{clear: both;}

/*END main rules   */
/*start header   */
.header .slider{ background-color: #EEE;height: 500px;background-image:url('../image/voiture.jpg');background-size: cover; }
.header .slider .intro {height: 300px;text-align: center;color:white;padding-top: 200px; font-family: Agency FB }
.header .slider .intro h2{margin: 0 auto ;font-size: 50px;border-top: 3px solid #FFF;border-bottom: 3px solid #FFF   }
.header .slider .intro a{background: none;color: #FFF;font-size: 20px;border-bottom: 3px solid #FFF ;font-weight: bold;padding: 10px 30px;text-decoration: none;}
.header .Navbar{background-color: #252f31;color: #FFF;overflow: hidden;}
.header .Navbar h2{float: left;font-family: Agency FB}
.header .Navbar h2 span {color:#2ecc71;}
.header .Navbar ul{list-style:none;padding-left: 0; overflow: hidden;float: right; }
.header .Navbar ul li{float: left;padding: 10px}
.header .Navbar ul li a{color:#FFF;text-decoration: none;}
.header .Navbar ul li.active a,
.header .Navbar ul li a:hover{color:#2d7d5a;text-decoration: none;}
/*end header   */
/*start features   */
.features{overflow: hidden; padding-top: 30px; padding-bottom: 50px}
.features .feat{float: left;width: 33.3333333%;height: 150px}
.features .feat h2{color:#555}
.features .feat p{line-height: 1.5;color:#777;padding: 0 10px 0 0 }


/*End features   */
/*start About me   */
.about-me{background-color:#F2F2F2;overflow: hidden;}
.about-me .image{float: left;width: 40%}
.about-me .image img{width: 90%}
.about-me .info{float:left;width: 60%}
.about-me .info h2{margin: 15px 0 20px 40px;color:#555}
.about-me .info > p{margin: 0 0 10px 40px }
.about-me .info p:last-of-type{margin-top:5px  }
.about-me .info p{line-height: 1.5;color:#888}
.about-me .info .hobbies{overflow: hidden;margin: 10px 0 0 40px}
.about-me .info .hobbies .content {float: left;width: 50%;min-height: 100px;overflow: hidden;}
.about-me .info .hobbies .content h3{color:#555}
.about-me .info .hobbies .content .icon{float: left;width: 20%}
.about-me .info .hobbies .content .icon img{max-width: 100%}
.about-me .info .hobbies .content .text{float: left;width: 70%;}

/*End About me   */
/*start My skills   */
.my-skills{padding-top: 30px;padding-bottom: 30px;overflow: hidden;}
.my-skills .skills , .my-skills .progress{width: 50%; float: left;}
 
.my-skills .skills h2{margin: 0px 0 10px 0;color:#555}
.my-skills .skills p{margin: 0 0 10px 0;line-height: 1.5;color:#888 }
.my-skills .skills p:last-of-type{margin-top:5px  }
.my-skills .skills button{margin: 20px 0;}
.my-skills .progress .technique{margin-left: 30px}
.my-skills .progress .technique h3{color:#555;margin-top: 10px}
.my-skills .progress .technique div{background-color: #F2F2F2;height: 20px}
.my-skills .progress .technique span{background-color: #2DCC70;height: 20px;display: block;line-height: 20px;text-align: right;color: white}


/*end  My skills   */
/*start resume   */
.resume{background-color:#F2F2F2;padding-top: 50px;padding-bottom: 70px;text-align: center;}
.resume h2{color:#555;text-transform: uppercase;font-weight: bold;}
.resume p{line-height: 1.5;color:#888;padding: 0 40px }
.resume button{margin-top: 25px}
/*end resume   */
/*start My eduaction   */
.my-education{padding-top: 30px;padding-bottom: 30px;overflow: hidden;}
.my-education .main{width: 50%; float: left;overflow: hidden;margin-right: 5%}
.my-education .main h2{margin: 0px 0 10px 0;color:#555}
.my-education .main p{margin: 0 0 10px 0;line-height: 1.5;color:#888 }
.my-education .main p:last-of-type{margin-top:5px  }
.my-education .experience{width: 45%; float: left;overflow: hidden}
.my-education .experience h3{margin-top : 35px;}
.my-education .experience span{display: block;margin-top: 5px}
.my-education .experience span:first-of-type{color: #999;}
.my-education .experience span:last-of-type{color: #FFF; background-color: #2DCC70; display : inline-block;padding:2px 10px;}
.my-education .experience hr{margin:20px 0;background-color: #999;border: 0;height: 1px}
.my-education .experience p{line-height: 1.7;color: #777;}
/*end  My eduaction   */
/*start testimonials   */
.testimonials{background-color:#F2F2F2;padding-top: 50px;padding-bottom: 70px;text-align: center;}
.testimonials q{line-height: 1.7;color:#444;font-size: 18px;font-style: italic;font-weight: bold}
.testimonials h3{color: #777}
.testimonials ul{list-style: none;padding-left: 0;text-align: center;}
.testimonials ul li{width: 10px;height: 10px;border: 2px solid #2DCC70;display: inline-block;}
.testimonials ul li.active{background-color: #2DCC70;}


/*end testimonials   */
/*start portfolio   */
.portfolio{padding-top: 30px;padding-bottom: 30px;text-align: center;}
.portfolio h2{font-weight: 10px;font-size: 30px;color:#999;}
.portfolio p{text-align: center;font-size: 20px;line-height: 1.7}
.portfolio .our-work > div{float: left;width: 33.333333%;margin-bottom: 10px;}
.portfolio .our-work > div img{width:90%;margin: 40px;}
/*end portfolio   */
/*start contact me   */
.contact{background-color:#252F31;overflow: hidden;padding-top: 40px;padding-bottom: 60px }
.contact .info{width: 50%;float: left;margin-right: 5%;}
.contact h2{color:#FFF;}
.contact p{color:#6A6E71}
.contact p strong{color: #D1D6D1}
.contact .form{width: 45%;float: left;}
.contact .form label{display: block;color: #D1D6D1;margin: 10px 0}
.contact .form input[type="text"] {background-color: #4B5557;color: #FFF;padding: 10px;border:none;height: 50%;width: 70%}
.contact .form textarea{background-color: #4B5557;color: #FFF;border:none;width:70%;padding: 10px;display: block}
.contact .form input[type="submit"] {margin-top: 10px;background-color: #191E22;color: #FFF;border:0;padding: 10px 20px}


/*end contact me   */
/*start footer   */
.footer{background-color: #191E22;color: #6A6E71;padding: 20px 0;text-align: center;}
.footer ul{list-style: none;padding-left: 0;margin:10px 0 0;}
.footer ul li{display: inline-block;}

/*end footer   */
/*start framework   */
 
.mybutton{background: none;border: 3px solid #2DCC70;padding: 10px 30px;color: #2DCC70;font-weight: bold;}
.fl{float: left}


/*end framework   */




